<head>
    {{> header-admin}}
</head>

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">ID de Producto</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        <th scope="col">Opciones</th>

    </tr>
    </thead>
    <tbody>
    <tr>
    {{# each products }}
        {{# each this}}
                <th scope="row">{{this._id}}</th>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>Q{{this.price}}</td>
                <td><div class="cell"><img src="{{this.imagePath}}" class="cell-fluid" /></div></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Opciones <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <a class="nav-link" href="/delete/{{this._id}}">Eliminar Artículo</a>
                            <li role="separator" class="divider"></li>
                            <a class="nav-link" href="/editar/{{this._id}}">Editar Artículo</a>
                        </ul>
                    </div>
                </td>
            <tr></tr>
        {{/each}}
    {{/each}}
    </tr>
    </tbody>
</table>
