
    <div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-4 col-sm-offset-3 ">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
        {{successMsg}}
        </div>
    </div>
</div>
    <h2><span class="badge badge-warning btn-lg btn-block">{{cater}}</span></h2>
{{# each products }}
    <div class="container-fluid">
    <div class="row">
        {{# each this}}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail" >
                    <h2><img id="{{this._id}}" src="{{this.imagePath}}" alt="..." class="img-responsive"></h2>
                    <div class="caption">
                        <h2><span class="badge badge-secondary">{{this.title}}</span></h2>
                        <h5><span class="badge badge-secondary">Talla {{this.sizex}}</span><h2>
                        <div class="clearfix">
                            <h2><div class="price pull-left">Q{{this.price}}</div></h2>
                            <h2><a href="/add-to-cart/{{this._id}}" class="btn btn-danger pull-right" role="button">Agregar a Compras</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    </div>
{{/each}}

